development:
  adapter: postgresql
  database: offline-dev
  encoding: utf8
  host: localhost
  min_messages: WARNING
test:
  adapter: postgresql
  database: offline-test
  host: localhost
  encoding: utf8
  min_messages: WARNING
production:
  adapter: postgresql
  database: offline-production
  encoding: utf8
  host: localhost
